<div class="container">
  <h1>New Game</h1>
  <div class="d-flex flex-nowrap gap-4">
    <% @letters.each do |letter|%>
      <div class="text-center" style="width: 50px; height: 50px;">
        <h2 class="bg-primary text-white"><%=letter%></h2>
      </div>
    <%end%>
  </div>
  <form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <label for="name" class="form-label">What is the longest word you can find?</label>
    <input type="text" name="answer" class="form-control">
    <input type="submit" class="btn btn-primary mt-2">
</form>
</div>
